.header {
  padding: 48px 0 0 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  padding: 40px 88px 40px 0;
  margin-left: 60px;
  border-right: 2px solid $line;
}

.header__icon {
  margin-right: 60px;
  margin-top: 50px;
}
//desktop
@media (max-width: 1339px) {
  .header__logo {
    margin-left: 0;
    padding-right: 10px;
  }
}

//tablet
@media (max-width: 1019px) {
  .header__logo {
    margin-left: 60px;
    border: none;
  }
}

@media (max-width: 699px) {
  .header {
    padding: 24px 0 29px;
  }

  .header__logo {
    margin-left: 20px;
    padding: 0;

    img {
      width: 106px;
      height: 30px;
    }
  }

  .header__icon {
    display: none;
  }
}
