.offers {
  position: relative;
  padding-bottom: 50px;
  background-color: $bg-main;

  h2 {
    margin-bottom: 102px;
    margin-left: 330px;
    line-height: 38px;
    font-size: 32px;
    color: $title;
  }
}

.offers__wrapper {
  position: relative;
  display: flex;

  &::before {
    position: absolute;
    top: -182px;
    left: 0;
    width: 24%;
    height: 128.3%;
    border-top: 2px solid $line;
    border-right: 2px solid $line;
    content: "";
  }
}

.offers__slider-container {
  width: 68%;
  height: 100%;
  margin-left: 0;
}

.offers__slider-pagination {
  display: none;
}

.offers__slider-controls {
  position: absolute;
  left: 60px;
  bottom: 109px;
  width: 30px;
  z-index: 2;

  button {
    position: relative;
    display: block;
    height: 7px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 1.5px;
      background-color: rgba(black, 0.5);
      content: "";
    }

    &:hover {
      &::after {
        background-color: rgba(black, 1);
      }

      &::before {
        border-top: 2px solid rgba(black, 1);
      }
    }
  }
}

.offers__slider-btn--next::before {
  position: absolute;
  top: -5px;
  right: -4px;
  width: 9px;
  height: 15px;
  border-top: 2px solid rgba(black, 0.5);
  border-right: 2px solid transparent;
  content: "";
  transform: rotate(45deg);
}

.offers__slider-btn--prev::before {
  position: absolute;
  top: -8px;
  left: 4px;
  width: 9px;
  height: 15px;
  border-top: 2px solid rgba(black, 0.5);
  border-right: 2px solid transparent;
  content: "";
  transform: rotate(-136deg);
}

.offers__list {
  width: 40%;
  margin-top: -50px;
  padding: 45px 60px 49px 75px;
  background-color: $bg-white;
  z-index: 5;
}

.offers__item {
  position: relative;
  margin-bottom: 10px;

  &::before {
    position: absolute;
    top: 12px;
    left: -25px;
    width: 16px;
    height: 2px;
    background-color: $title;
    content: "";
  }
}

//desktop
@media (max-width: 1339px) {
  .offers__wrapper::before {
    height: 118.3%;
  }

  .offers__slider-controls {
    bottom: 620px;
  }
}

//tablet
@media (max-width: 1019px) {
  .offers {
    h2 {
      margin-left: 30px;
      margin-bottom: 50px;
    }
  }

  .offers__wrapper {
    flex-direction: column;

    &::before {
      width: 20px;
      height: 1273px;
    }
  }

  .offers__slider-container {
    width: 93%;
    height: 400px;
  }

  .offers__list {
    width: 93%;
    padding: 29px 19px 24px 38px;
    margin-left: auto;
    margin-top: -40px;
  }

  .offers__slider-controls {
    display: none;
  }

  .offers__slider-container .swiper-pagination {
    display: flex;
    margin: 0 auto;
    bottom: 50px;
    left: 33%;
  }

  .offers__slider-container .swiper-pagination-bullet {
    background-color: $bg-white;
  }
}

//mobile
@media (max-width: 699px) {
  .offers {
    padding-bottom: 55px;

    h2 {
      margin-left: 30px;
      margin-bottom: 27px;
      line-height: 28px;
      font-size: 24px;
    }

    span {
      display: block;
    }
  }

  .offers__wrapper {
    flex-direction: column;

    &::before {
      top: -132px;
      width: 12px;
      height: 1040px;
    }
  }

  .offers__slider-container {
    width: 93%;
    height: 202px;
  }

  .offers__slider-container .swiper-pagination {
    left: 20%;
  }

  .offers__slider-image {
    img {
      height: 202px;
    }
  }

  .offers__list {
    width: 93%;
    padding: 29px 19px 24px 38px;
    margin-left: auto;
    margin-top: -40px;
  }

  .offers__item {
    margin-bottom: 8px;

    p {
      line-height: 18px;
      font-size: 12px;
    }

    &::before {
      top: 9px;
      left: -19px;
      width: 12px;
      height: 1px;
    }
  }
}
